.heading h3 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

.heading h1, h1 {
    font-size: 5rem;
    margin-bottom: -3rem;
    margin-top: 2rem;
    font-weight: 500;
}

.heading button {
    padding: 1rem 1.2rem;    
    margin-top: 1rem;    
    background-color: #000000;
    justify-content: center;
    color: #ffffff;               
    border: none;                
    border-radius: 150px;           
    cursor: pointer;    
    &:hover {
        background-color: #282828;
    }

    a {
        color: #ffffff;
        text-decoration: none;
    }
}

.user-info {
    display: flex;
}

.progress-dates {
    h2 {
        margin-left: 15rem;
        font-size: 4rem;
        line-height: 5rem;
        font-weight: 500;
        margin-top: 2rem;
    }
}

.react-calendar {
    margin-left: 16rem;
    margin-bottom: 5rem;
    margin-top: -1rem;
    border: none !important;
}

.react-calendar__month-view__days__day {
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    color: black !important;
    display: flex; 
    align-items: center;
    justify-content: center; 
    transition: background-color 0.2s ease; 
}

.react-calendar__month-view__days__day:hover {
    background-color: #f0f0f0; 
}

.react-calendar__tile--active {
    background-color: #007bff; 
    color: white; 
}

.react-calendar__tile--active:hover {
    background-color: #0056b3;
}

.react-calendar__navigation__label {
    font-size: 1.5rem; 
    font-weight: 500; 
    color: black !important;
}

.react-calendar__navigation button {
    background-color: transparent; 
    border: none; 
    color: black; 
    font-size: 1.2rem;
}

.react-calendar__navigation button:hover {
    color: #0056b3;
}


.friends-list {
    margin-left: 8rem;
    margin-top: -2rem;
}

.friends-list p {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 500;
}

.friends-list input {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
}

.friends-list button {
    padding: 0.7rem 1.1rem;    
    margin-top: 1rem;    
    background-color: #000000;
    justify-content: center;
    color: #ffffff;               
    border: none;                
    border-radius: 50px;           
    cursor: pointer;    
    &:hover {
        background-color: #282828;
    }

    a {
        color: #ffffff;
        text-decoration: none;
    }
}

.leaderboard {
    margin-top: -1rem;
    border-top: 1px solid #f0f0f0;
}

.leaderboard p {
    font-size: 4rem;
    font-weight: 500;
    margin-top: 2rem;
}

.leaderboard h3 {
    margin-top: -3rem;  
    margin-bottom: 3rem;
}