.description {
    justify-content: left;
    padding-left: 50px;
    padding-right: 50px;
    
}

.slogan {
    font-size: 125px;
    line-height: 0.85em;
    text-align: left;
    padding-top: 3.75rem;
    width: 300px;
}

.about {
    margin-top: 0;
    padding-top: 20px;
    line-height: 27px;;
    text-align: left;
    padding-bottom: 30px;
    border-bottom: 1px solid 
}

.today {
    border-bottom: 1px solid black;
}

.startTitle {
    padding-top: 3.75rem;
    font-size: 50px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 0.85em;
}

.challengeButton button#false{
    padding: 0.8rem 1rem;  
    margin-top: 2rem;      
    margin-bottom: 3rem;
    background-color: #000000;    
    color: #ffffff;               
    border: none;                
    border-radius: 150px;           
    cursor: pointer;  
}

.challengeButton button#true {
    display: none;
}

.hiddenChallenge#close {
    display: none;
}

.hiddenChallenge#open {
    margin-top: 3rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3rem;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1); 
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tabs span {
    padding-top: 10px;
    cursor: pointer;
    
    width: 13%;
    cursor: pointer;
}

.beginnerChallenge#open {
    text-align: center;
    padding: 4rem;
    color: black;
    .leftText {
        line-height: 0.5rem;
    }
    p {
        color: grey;
        font-weight: bold;
    }
}

.beginnerChallenge#close {
    display: none;
}

.beginnerChallenge#active {
    color: black;
    border-bottom: 1px solid #333;
}

.beginnerChallenge#inactive {
    color: grey;
}

.intermediateChallenge#open {
    text-align: center;
    padding: 4rem;
    .leftText {
        line-height: 0.5rem;
    }
    p {
        color: grey;
        font-weight: bold;
    }
}

.intermediateChallenge#close {
    display: none;
}

.intermediateChallenge#active {
    color: black;
    border-bottom: 1px solid #333;
}

.intermediateChallenge#inactive {
    color: grey;
}

.advancedChallenge#open {
    text-align: center;
    padding: 4rem;
    .leftText {
        line-height: 0.5rem;
    }
    p {
        color: grey;
        font-weight: bold;
    }
}

.advancedChallenge#close {
    display: none;
}

.advancedChallenge#active {
    color: black;
    border-bottom: 1px solid #333;
}

.advancedChallenge#inactive {
    color: grey;
    
}

@media screen and (max-width: 788px) {
    .slogan {
        font-size: 65px;
    }

    .about {
        font-size: small;
        line-height: 20px;
    }

}

@media screen and (max-width: 420px) {
    .slogan {
        font-size: 58px;
    }

}