.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;         
    padding: 1.5rem 3rem;    
    background-color: #f8f8f8
}

.logo img {
    width: 150px;             
}

.nav {
    display: flex;
    justify-content: center;        
    align-items: center;              
}

.nav a {
    color: #000000;
    text-decoration: none;
    padding: 0 1rem;       
}

.icon {
    display: none;
}

.join button {
    padding: 0.5rem 1rem;        
    margin-bottom: 0.5rem;
    background-color: #000000;    
    color: #ffffff;               
    border: none;                
    border-radius: 150px;           
    cursor: pointer;              


    a {
        color: #ffffff;
        text-decoration: none;
    }
}

.hiddenLinks {
    display: none;
}

@media screen and (max-width: 788px) {
    .nav {
        display: none;
    }

    .logo {
        margin-right: auto;
    }

    .icon {
        margin-left: auto;
        display: inline;
        cursor: pointer;
        margin-top: 0.3rem;
        padding: 0 1rem;
    }

    .icon button {
        background-color: #f8f8f8;
        border: none;
        cursor: pointer;
    }

    .hiddenLinks#open {
        display: flex;  
        flex-direction: column; 
        align-items: center;
        position: absolute;
        top: 90px; 
        left: 0;
        width: 100%;
        background-color: #f8f8f8; 

        a {
            padding: 0.5rem 0;
            text-align: center;
            text-decoration: none;
            color: black;
            width: 100%;
            display: block;
            border: 1px solid #d3d3d3;
        }
        a:first-child {
            border-bottom: none;  
        }
        
        a:last-child {
            border-top: none;
        }
        
    }

    .hiddenLinks#close {
        display: none;  /* Keep hidden when the state is false */
    }
    
}

@media screen and (max-width: 400px) {
    .join a {
        font-size: x-small;
    }
    
}